.pagination {
  min-width: 300px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #ff8189;
  font-size: 30px;
  border: none;
  padding-top: 5px;
  width: 50px;
  height: 40px;
  color: white;
  border-radius: 7px;
  transition: 0.2s;
}

.pagination button:hover {
  background-color: #ff4654;
  transform: scale(1.1);
}
