.agents-block {
  background: url(../../Assets/IntroImages/ThirdBg.png);
  min-height: 100vh;
  position: relative;
  color: #ece8e1;
  margin-top: -20px;
}

.agents-block:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(5, 1, 15, 0.85);
  z-index: 1;
}

#agents-bg {
  position: relative;
  z-index: 2;
  font-size: 120px;
  padding-top: 40px;
  font-style: italic;
  opacity: 0.1;
}

#agents-header {
  position: relative !important;
  z-index: 3 !important;
  margin: -110px 0 0 80px;
  font-size: 64px;
}

.agents-block-content {
  position: relative;
  z-index: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.inf-agents {
  border-left: 1px solid white;
  border-top: 1px solid white;
  max-width: 700px;
  padding: 80px 0 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.inf-agents p {
  font-size: 20px;
  line-height: 25px;
}

.inf-agents button {
  margin: 100px 0 0 -50px;
}

.fenix-img {
  margin-top: -20px;
  border-right: 1px solid white;
}

.fenix-img img {
  width: 587px;
  margin-top: -30px;
}

.btn {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  color: var(--button-text-color);
  cursor: pointer;

  --button-text-color: var(--background-color);
  --button-text-color-hover: var(--button-background-color);
  --border-color: #7d8082;
  --button-background-color: #ece8e1;
  --highlight-color: #ff4655;
  --button-inner-border-color: transparent;
  --button-bits-color: var(--background-color);
  --button-bits-color-hover: var(--button-background-color);

  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.15s ease;
}

.btn::before,
.btn::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid var(--border-color);
  transition: all 0.15s ease;
}

.btn::before {
  top: 0;
  border-bottom-width: 0;
}

.btn::after {
  bottom: 0;
  border-top-width: 0;
}

.btn:active,
.btn:focus {
  outline: none;
}

.btn:active::before,
.btn:active::after {
  right: 3px;
  left: 3px;
}

.btn:active::before {
  top: 3px;
}

.btn:active::after {
  bottom: 3px;
}

.btn__inner {
  position: relative;
  display: block;
  padding: 20px 30px;
  background-color: var(--button-background-color);
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px var(--button-inner-border-color);
}

.btn__inner::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: var(--button-bits-color);
}

.btn__inner::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: var(--button-bits-color);
  transition: all 0.2s ease;
}

.btn__slide {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: var(--highlight-color);
  transform: skew(-15deg);
  transition: all 0.2s ease;
}

.btn__content {
  position: relative;
}

.agent-btn {
  font-family: "VALORANT", sans-serif;
  color: #ff8189;
  font-size: 20px;
  letter-spacing: 0.1em;
}

.btn:hover {
  color: var(--button-text-color-hover);
}

.btn:hover .btn__slide {
  width: calc(100% + 15px);
}

.btn:hover .btn__inner::after {
  background-color: var(--button-bits-color-hover);
}

.btn--light {
  --button-background-color: var(--background-color);
  --button-text-color: var(--highlight-color);
  --button-inner-border-color: var(--highlight-color);
  --button-text-color-hover: #ece8e1;
  --button-bits-color-hover: #ece8e1;
}

@media all and (max-width: 800px) {
  .agents-block {
    background-image: none;
    background-color: rgba(5, 1, 15, 0.85);
    opacity: 0.9;
  }
  .agents-block-content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .inf-agents {
    border: none;
  }
  .fenix-img {
    border: none;
    margin: 40px auto;
  }
  .fenix-img img {
    width: 487px;
  }

  #agents-header {
    font-family: "VALORANT", sans-serif;
  }

  #agents-bg {
    font-family: "VALORANT", sans-serif;
  }
}

@media all and (max-width: 500px) {
  #agents-bg {
    font-size: 70px;
  }

  #agents-header {
    margin: -70px 0 0 20px;
  }

  .fenix-img img {
    width: 387px;
  }

  .inf-agents {
    padding-bottom: 40px;
  }

  .inf-agents p {
    text-align: center;
    padding-right: 20px;
  }
}

@media all and (max-width: 400px) {
  .fenix-img img {
    width: 287px;
  }
}
